.form-generator{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 28px 0px;
}

.text-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.top-text-container,
.bottom-text-container{
  display: flex;
  flex-direction: column;
}

.top-text-label,
.bottom-text-label{
  margin-bottom: 3px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(55, 65, 81);
}

.form-button{
  padding: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;

  border: none;
  border-radius: 5px;
  background: linear-gradient(135.29deg, rgb(113, 31, 141) 1.145%,rgb(168, 24, 218) 100%);
  color: rgb(255, 255, 255);

  cursor: pointer;
  transition: all 0.3s ease 0s;

}

.form-button:hover{
  transform: scale(1.03);
}

.form-button:active{
  transform: translateY(5px);
  box-shadow: 0px 4px 0px 0px rgb(86, 23, 107);
}

